.menu {
  background-color: #1e1d1a;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 100ms;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  --transition: cubic-bezier(0.35, 0, 0.07, 1);
  &__container {
    height: inherit;
  }
  &__close {
    position: absolute;
    right: rem(25);
    top: rem(25);
    width: 2rem;
    height: 2rem;
    transition: all 400ms ease;
    opacity: 0;
    transition-delay: 400ms;
    transform: translateX(5rem);
    &::before, &::after {
      position: absolute;
      left: 15px;
      content: '';
      height: 33px;
      width: 3px;
      background-color: rgba(255, 255, 255, .8);;
      border-radius: 5px;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__body {
    padding: rem(40) 0;
    height: inherit;
    @include dfc;
    overflow-y: scroll;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 3rem;
    position: relative;
    transition-delay: 300ms;
    transition: all 600ms var(--transition);
    &::before, &::after {
      transition: inherit;
      transition-delay: 300ms;
      opacity: 0;
    }
    &::before {
        @include pseudo;
        left: 20%;
        top: 50%;
        transform: translateY(-50%) translateX(-100%);
        width: 20%;
        height: rem(2);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .8);
    }
    &::after {
      @include pseudo;
      right: 20%;
      top: 50%;
      transform: translateY(-50%) translateX(100%);
      width: 20%;
      height: rem(2);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, .8);
    }
  }
  &__logo {
    min-height: rem(25);
    overflow: hidden;
    img {
      transform: translateY(150%);
      transition: 900ms var(--transition);
      transition-delay: 450ms;
    }
  }
}

.nav-link {
  font-size: 1.25rem;
  overflow: hidden;
  display: inline-flex;
  color: rgba(255, 255, 255, .7);
  @include df;
  grid-gap: rem(10);
  span, img {
    transform: translateY(150%);
    transition: all 1s var(--transition);
    transition-delay: 750ms;
  }
}

.m-nav {
  &__list {
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    display: inline-flex;
  }
}

.m-links {
  &__link {
    font-family: var(--ff-intro);
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    grid-gap: 1rem;
  }
  &__item {
    display: inline-flex;
  }
}

.show-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  .menu {
    &__navigation {
      &::before, &::after {
        transform: translateY(50%) translateX(0);
        opacity: 1;
      }
    }
    &__close {
      opacity: 1;
      transform: translateX(0);
    }
    &__logo {
      img {
        transform: translateY(0) !important;
      }
    }
  }
  .m-nav {
    &__link {
      span {
        transform: translateY(0) !important;
      }
      img {
        transform: translateY(0) !important;
      }
    }
  }
  .m-links {
    &__link {
      span {
        transform: translateY(0) !important;
      }

    }
  }
}

@include max-width($mob-media) {
  .m-links__list, .m-nav__list {
    flex-direction: column;
    align-items: center;
  }
  .m-links__link, .m-nav__link {
    text-align: center;
    font-size: rem(18);
  }
  .menu {
    &__navigation {
      grid-gap: rem(35);
      &::before, &::after {
        width: 50%;
        top: 49%;
      }
      &::before {
        left: 95%;
      }
      &::after {
        right: 95%;
      }
    }
  }
}

@include max-width(25em) {
  .menu {
    &__navigation {
      &::before, &::after {
        width: 45%;
      }
      &::before {
        left: 90%;
      }
      &::after {
        right: 90%;
      }
    }
  }
}
