.news {
  background-image: url('../../img/news/bg-news.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: rem(30) 0;
  .mixitup-control-active {
    box-shadow: 0 0 16px #70856b, inset 0 0 20px 2px #fff5d2;
    background-color: rgba(83, 74, 65, .5);
  }
  &__container {
    margin-inline: auto;
    max-width: calc(rem(1280) + $cont-padding);
    overflow-x: visible;
  }
  &__filter {
    @include df;
    grid-gap: rem(20);
    margin-bottom: rem(80);
  }
  &__wrapper {
    position: relative;
  }
  &__pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__arrow {
    left: -10%;
    z-index: 1000;
    position: absolute;
  }
  &__title {
    margin-bottom: rem(40);
  }
  &__filter-btn {
    min-width: rem(205);
    min-height: rem(51);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    @include dfc;
    text-align: center;
    color: #b0a896;
    border-radius: 25px;
    font-size: rem(18);
    background-image: url('../../img/news/filter-btn-overlay.png');
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      transform: scale(1.03);
    }
    &_active {

      // box-shadow: 0 0 16px #70856b, inset 0 0 20px 2px #fff5d2;
      color: #ffffff;
    }
  }
  &__image {
    border-radius: 25px;
    overflow: hidden;
    max-width: rem(377);
    max-height: rem(207);
    margin-bottom: rem(20);
    transition: all 400ms ease;
    img {
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &__row {
    @include df;
  }
  &__wrapper {
    margin-left: auto !important;
    margin-right: initial !important;
    display: flex;
    justify-content: end;
  }
  &__row-item {
    flex: 0 1 rem(377);
    &_update {
      .news__row-name {
        color: #b68dd4;
      }
    }
    &_event {
      .news__row-name {
        color: #b67640;
      }
    }
    &_news {
      .news__row-name {
        color:#7ea2d3;
      }
    }
  }
  &__row-date {
    color: #8a8a8a;
    font-family: var(--ff-intro);
    opacity: .2
  }
  &__row-heading {
    @include df;
    justify-content: space-between;
    margin-bottom: rem(20);
  }
  &__row-name {
    font-size: 1.125rem;
  }
  &__row-title {
    font-family: var(--ff-intro);
    color: #fff;
    margin-bottom: 1rem;
    font-size: rem(20);
  }
  &__row-inner {
    flex: 1;
    p {
      font-size: 1rem;
      color: #8a8a8a;
      font-family: var(--ff-intro);
    }
  }
}

@include max-width($tablet-media) {
  .news {
    &__container {
      padding: 0;
    }
    &__heading {
      padding: 0 $cont-padding;
    }
    &__filter {
      margin-bottom: rem(30);
    }
    &__wrapper {
      padding-left: $cont-padding !important;
    }
    &__filter {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__filter-btn {
      min-width: rem(140);
      min-height: rem(40);
      background-size: 100% 100%;
      font-size: rem(14);
    }
  }
}

@include max-width($mob-media) {
  .news {
    padding: rem(50) 0;
    &__row-item {
      flex: 1 1 auto;
    }
    &__wrapper {
      flex-direction: column;
      padding: 0 $cont-padding !important;
    }
    &__image {
      max-height: 100%;
      max-width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
