.footer_long {
  .footer__short-body {
    display: none;
  }
}

.news-body {
  background-image: url('../../img/all-news-page/bg-news-page.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.news-page {
  padding-top: var(--headerSpacing);
  margin-bottom: rem(160);
  &__container {
    max-width: calc(rem(1303) + $cont-padding);
  }
  &__logo {
    max-width: rem(656);
    transform: translateX(-60px);
  }
  &__title {
    margin-bottom: rem(35);
  }
  &__poster-image {
    position: relative;
    margin-bottom: rem(45);
    picture, img {
      vertical-align: bottom;
    }
  }
  &__heading {
    @include df;
    grid-gap: rem(30);
    margin-bottom: rem(17);
    span {
      font-size: rem(45);
    }
  }
  &__subheading-block {
    margin-bottom: rem(35);
    @include df;
    grid-gap: rem(15);
  }
  &__subheading {
    @include df;
    grid-gap: rem(10);
    span {
      color: #b68cd5;
    }
  }
  &__date {
    color: #fff;
    opacity: .42;
    font-family: var(--ff-intro);
    font-size: rem(14);
  }
  &__descr {
    display: flex;
    flex-direction: column;
    grid-gap: rem(35);
    p {
      letter-spacing: 0.32px;
      color: #b9b9b9;
      font-family: var(--ff-intro);
      text-align: left;
      line-height: 150%;
    }
  }
}

@include max-width(65em) {
  .news-page {
    &__heading {
      span {
        font-size: rem(32);
      }
      img {
        max-width: rem(100);
      }
    }
    &__subheading {
      span {
        font-size: rem(14);
      }
    }
    &__date {
      font-size: rem(12);
    }
    &__descr {
      p {
        font-size: rem(14);
      }
    }
  }
}

@include max-width($tablet-media) {
  .news-page {
    &__logo {
      transform: translate(0);
      display: block;
      margin-inline: auto;
      max-width: rem(400);
    }
    &__heading {
      span {
        font-size: rem(28);
      }
      img {
        max-width: rem(100);
      }
    }
  }
}

@include max-width($mob-media) {
  .news-page {
    margin-bottom: rem(50);
    &__logo {
      max-width: rem(300);
    }
    &__heading {
      grid-gap: rem(10);
      @include dfc;
      span {

        font-size: rem(20);
      }
      img {
        display: none;
      }
    }
    &__subheading-block {
      justify-content: center;
    }
  }
}

@include max-width($tablet-media) {
  .every-news {
    &__logo {
      max-width: rem(350);
      transform: translate(0);
    }
  }
}
