.update {
  &__slider-item {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__slider-wrapper {
    display: flex;
  }
  &__heading {
    margin-bottom: rem(105);
  }
  &__controls {
    position: absolute;
    @include df;
    grid-gap: rem(60);
    justify-content: space-between;
    bottom: rem(100);
    max-width: rem(1392);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2000;
    width: 100%;
    .swiper-button-disabled {
      opacity: .5;
      cursor: default;
      &:hover {
        transform: translateX(0);
      }
    }
  }
  &__bullet-row {
    display: flex;
  }
  &__bullet-wrapper {
    // max-width: rem(1175);
    // overflow: hidden;
    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
  &__bullet-row-item {
    flex: 0 0 auto;
    @include df;
    flex-direction: column;
    grid-gap: rem(14);
    max-width: rem(125);
    opacity: .5;
    transition: all 300ms ease;
  }
  &__bullet-row-info {
    text-align: center;
  }
  &__arrow {
    margin-bottom: rem(48);
    cursor: pointer;
    filter: brightness(2);
    transition: all 300ms ease;
    &_prev {
      &:hover {
        transform: translateX(-5px);
      }
    }
    &_next {
      &:hover {
        transform: translateX(5px)
      }
    }
  }
  &__bullets {
    @include df;
    justify-content: space-between;
    span {
      text-align: center;
      display: block;
      width: auto !important;
      height: auto !important;
      color: #fff;
    }
    .swiper-pagination-bullet-active {
      opacity: 1 !important;
      background: transparent;
      box-shadow: none;
    }
  }
  &__bullet-block {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    grid-gap: rem(14);
    transition: all 400ms ease;
    margin: 0 !important;
    opacity: .5 !important;
    background: transparent !important;
  }
  &__descr {
    max-width: rem(530);
    p {
      font-size: rem(20);
      color: #cfcfcf;
      font-family: var(--ff-intro);
      line-height: 150%;
    }
  }
  &__subheading {
    color: #efa043;
    font-size: rem(26);
    font-family: var(--ff-intro);
    text-transform: uppercase;
    margin-bottom: rem(35);
  }
  &__bullet-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto !important;
    height: auto !important;
    span {
      text-align: center;
    }
  }
  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    &::before {
      @include pseudo;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .5;
      z-index: 1;
    }
    video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      top: 0;
      left: 0;
      position: absolute;
      // display: none;
    }
  }
  &__inner {
    position: relative;
    z-index: 10;
    padding-bottom: rem(100);
  }
}

@include max-width(100em) {
  .update {
    &__bullet-block {
      grid-gap: rem(5);
      span {
        font-size: rem(14);
      }
      img {
        width: rem(80);
        height: rem(80);
      }
    }
    &__arrow {
      margin-bottom: rem(30);
    }
  }
}

@include max-width($f-hd) {
  .update {
    &__descr {
      p {
        font-size: rem(18);
      }
    }
  }
}

@include max-width(97em) {
  .update {
    &__controls {
      bottom: 3.25rem;
    }
  }
}

@include max-width(87em) {
  .update {
    &__controls {
      max-width: 28.25rem !important;
      grid-gap: 2rem;
    }
    &__bullet-row-item:last-child {
      margin-right: 0 !important;
    }
  }
}

@include max-width($tablet-media) {
  .update {
    &__controls {
      max-width: rem(650) !important;
     bottom: 2rem !important;
    }
    &__arrow {
      &:hover {
        transform: translateX(0);
      }
    }
    &__bullet-row-item {
      max-width: rem(90);
      width: rem(90);
    }
    &__bullet-row-info {
      max-width: rem(90);
      p {
        font-size: rem(12) !important;
      }
    }
  }
}

@include max-width(43.75em) {
  .update {
    &__controls {
      grid-gap: rem(15);
      max-width: rem(500) !important;
    }
  }
}

@include max-width(34.375em) {
  .update {
    &__arrow {
      flex: 0 0 auto;
      max-width: rem(30);
    }
    &__controls {
      max-width: rem(420) !important;
    }
    &__bullet-row-item {
      grid-gap: rem(5);
    }
    &__bullet-row-info {

    }
  }
}

@include max-width($mob-media) {
  .update {
    &__heading {
      margin-bottom: rem(50);
      font-size: rem(26);
    }
    &__subheading {
      font-size: rem(22);
      text-align: center;
    }
    &__bullets {
      grid-gap: rem(20) 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__controls {
      bottom: rem(50);
    }
    &__bullet-row-info {
      p {
        font-size: rem(14);
      }
    }
    &__descr {
      p {
        font-size: 1rem;
      }
    }
    &__bg-video {
      width: 100%;
      height: 100%;
      video {
        display: none;
      }
      background-image: url('../../img/video/update-slider-image-1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &::before {
        @include pseudo;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
      }
    }
  }
}

@include max-width(27.5em) {
  .update {
    &__controls {
      max-width: rem(290) !important;
    }
  }
}
